<style>
    
    
    
    
    header{ 
    }
    .top { height:100px;margin-bottom:105px
      }
    .movin { height:100px; width:100%;
    }
    
    .leftwing{ height:500px; margin-top: 10px;width:15%;margin-right:2%; float: left;
    }
    
    .special{background-color:#9E7241; height:20px;text-align: center;
    }
    .leftboxes{ background-color:#D7C5B1; height:20px;border-style: groove;border-color: white;text-align: center;
    }
    
    .odd{ background-color:#D7C5B1; height:50px;text-align: center;
    }
    .leftlast{ background-color:#D7C5B1;padding-top:10px;padding-right:5%; padding-left:5%;height:70px;border-style: groove;border-color: white;text-align: center;
    }
    
    .midle{height:809px;  margin-top: 5px;width:65%; margin-right:0%x;float: left;
    }
    .unique{ background-color:#9E7241; height:20px;
    }
    h4{ 
    }
    
    .righttlast{ background-color:#D7C5B1;padding-top:10px;padding-right:5%; padding-left:5%;height:367px;border-style: groove;border-color: white;text-align: center;
    }
      .righttlast img{ padding-bottom: 10px;
          {
    

              
    
</style> 